@keyframes pulse {
	0%,
	100%,
	50% {
		transform: scale(1);
		        
	}

	25%,
	90% {
		transform: scale(1.1);
		        
	}
}

@keyframes slide-down {
	0% {
		transform: translateY(-100%);
		
	}

	100% {
		transform: translateY(0);
		
	}
}

@keyframes slide-up {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100%);
		
	}
}