

.underlined-link {
    @include pseudo-underline($width: 100%, $display: inline-block);
    @include type-style(secondary);
    opacity: 1;
        transition: 1.5s all ease-in-out;
    &:after {
        content: '>';
        position: relative;
        margin-left: rem(20);
    }

    &:hover, &:active, &:focus {
        opacity: .5;
        @include pseudo-underline($width: 100%, $color: rgba(24,24,23,.5), $display: inline-block);
        transition: 1.5s all ease-in-out;
    }
}

@mixin heading {
    word-spacing: rem(5);
    @include type-style(heading);
    @include breakpoint(tablet) {
        @include type-style(heading-mobile);
    }
}

@mixin landing-title {
    @include type-style(landing-title);
    @include breakpoint(tablet) {
            @include type-style(landing-title-mobile);
    }

}

@mixin article-body {
    @include type-style(article-text);
    @include breakpoint(tabet) {
        @include type-style(article-text-mobile);
    }
}