@use "sass:math";

/* ========================================
  Aspect Ratio Mixin
  @param {Number} $width - Width
  @param {Number} $height - Height
  ex: @include aspect-ratio.aspect-ratio(16, 9);
======================================== */

@mixin aspect-ratio($width, $height, $pos: 50% 50%, $fit: cover, $position: absolute, $img: true) {
  display: block;
  height: 0;
  overflow: hidden;
  padding-bottom: calc($height / $width) * 100%;
  position: relative;

  img {
    bottom: 0;
    height: 100%;
    left: 0;
    object-fit: $fit;
    object-position: $pos;
    position: $position;
    right: 0;
    top: 0;
    width: 100%;
  }
}

@mixin aspect-ratio-container($width, $height) {
  display: block;
  height: 0;
  overflow: hidden;
  padding-bottom: calc($height / $width) * 100%;
  position: relative;
}

