.cart-item {
    
    &__grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: rem(20);
        
    }

    &__grid-item {
        flex: 0 0 48%;
        @include breakpoint(tablet) {
                // flex: 0 0 50%;
        }
    }

    &__image-container {
        @include aspect-ratio(500, 666);
    }

    &__controls {
        @include flexbox($direction: column, $justifyContent: space-between);
        padding-left: rem(10);
        padding-right: rem(10);
    }

    &__name {
        // @include type-style(cart);
    }

    &__price-wrapper {
        margin-bottom: rem(15);
    }

    &__price-wrapper * {
        @include type-style(secondary);
    }

    &__production-option {
        margin-bottom: rem(15);
    }

    &__product-option * {
        display: inline;
        margin: 0;
        @include type-style(secondary);
    }

    &__remove-button {
        @include type-style(secondary);
        @include pseudo-underline($width: 100%, $display: inline);
    }

    &__error {
        display: flex;
        align-items: flex-start;
        margin-top: 1rem;
    }

    &__error-text {
        font-size: rem(10);
        order: 1;
    }

    &__error-text+svg {
        flex-shrink: 0;
        width: .8rem;
        margin-right: 0.5rem;
    }

    &__error-text:empty+svg {
        display: none;
    }

    &__error-text+svg {
        margin-top: 0.4rem;
    }
}

