/* Fonts */
$fonts: (
    title: ('Unica 77 LL', 'sans-serif'),
    primary: ('Unica 77 LL', 'sans-serif'),
    secondary: ('Nitti Basic Light', ' sans-serif'),
    secondary-light: ('Nitti Basic Light', 'sans-serif'),
    italic-heading: ('Nitti Basic', 'sans-serif'),
    body: ('Unica 77 LL', 'sans-serif'),
    tertiary: ('Nitti Basic', 'sans-serif'),
    medium: ('Nitti Basic', 'sans-serif'),
    icons: ''
);



/* Base Settings */
$base: (
    font: map-get($fonts, body),
    font-size: 16,
    border-radius: 4,
    site-width: 1360,
    transition-duration: 300ms,
    transition-timing-function: ease-in-out,
    header-mobile: rem(76)
);


/* Typography */
$type: (
    // Size, Line Height, Spacing, Style, Weight, Transform, Color

    landing-title: (17, normal, letter-spacing(9px), title, normal, normal),
    landing-title-mobile: (17, normal, letter-spacing(9px), title, normal, normal),
    title: (20, rem(24), 0, title, normal, uppercase),
    nav: (16, 0, letter-spacing(-.5px), primary, normal, normal, black),
    price-large: (18, rem(20), 0, title, normal, uppercase),
    small-caps: (15, rem(14), letter-spacing(2px), primary, normal, uppercase, black),
    italic-heading: (35, rem(-15), letter-spacing(26px), italic-heading, initial, normal, $black),
    heading: (18, rem(24), 0, primary, normal, uppercase),
    heading-mobile: (15, rem(18), 0, primary, normal, uppercase),
    figcaption: (13, rem(15), letter-spacing(25), primary, normal, normal),
    blockquote: (20, rem(35), letter-spacing(-10), secondary, normal, normal),
    blockquote-mobile: (20, rem(35), letter-spacing(-10), secondary, normal, normal),
    // h2: (15, rem(28), 1, title, normal, uppercase, black),
    cart: (10, rem(12), letter-spacing(25px), title, normal, normal),
    primary: (13, rem(20), letter-spacing(25px), primary, normal, normal),
    secondary: (13, rem(18), letter-spacing(-10px), secondary, 100, normal),
    faq-content: (15, rem(20), letter-spacing(-70px), secondary, 100, normal),
    article-text: (13, rem(18), letter-spacing(-10px), secondary, 100, normal),
    article-text-mobile: (16, rem(21), letter-spacing(10px), secondary, 100, normal),
    form: (18, rem(20), letter-spacing(-10px), secondary-light, 100, normal),
    article-title: (32, rem(39), 0, primary, normal, normal, var(--color-text-primary)),
    press-text: (47, rem(43), letter-spacing(-60px), secondary, normal, lowercase),
    content-title: (20, rem(26), 0, tertiary, 300, normal, theme(darker)),
    body : (20, rem(25), 0, body, 300, none, theme(darker)),
    // list-item : (18, rem(25), 0, tertiary, 300, none, theme(darker)),
);

/**
* Form Elements
*
* Form element groups to support the quick application of styles to base and pseudo states.
*/
$text-inputs-list: 'input[type="color"]', 'input[type="date"]',
    'input[type="datetime"]', 'input[type="datetime-local"]',
    'input[type="email"]', 'input[type="month"]', 'input[type="number"]',
    'input[type="password"]', 'input[type="search"]', 'input[type="tel"]',
    'input[type="text"]:not(.chosen-focus-input)', 'input[type="time"]',
    'input[type="url"]', 'input[type="week"]', 'textarea';
$all-text-inputs: assign-elements($text-inputs-list);
$all-text-inputs-active: assign-elements($text-inputs-list, active);
$all-text-inputs-focus: assign-elements($text-inputs-list, focus);
$all-text-inputs-hover: assign-elements($text-inputs-list, hover);

/**
* Text Elements
*
* Text element groups to support the quick application of styles.
*/
$text-elements-list: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'ul', 'li', 'span',
    'strong', 'em', 'blockquote', 'cite';
$all-text-elements: assign-inputs($text-elements-list);