/* --------------------------------------------------------------------------
Buttons
----------------------------------------------------------------------------- */

.component--buttons {
	margin: rem(50) 0 0;

	.button {
		margin-bottom: rem(15);

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

button {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	font: inherit;
	outline: inherit;
	padding: 0;
}

.button {
	background-color: transparent;
	border: rem(1) solid var(--color-border-primary);
	color: $black;
	cursor: pointer;
	display: inline-block;

	outline: none;
	padding: rem(25) rem(30);
	text-align: center;
	transition: all 0.1s ease-in-out;
	color: var(--color-border-primary);
    @include type-style(secondary);
	text-transform: uppercase;
	font-weight: 100;

	// 👋🏻 NOTE: Make sure to add a bg color for Firefox & Safari or use transparent for no bg color*/
	&:hover {
		background-color: white;
	}


}



a.uppercase-link {
	letter-spacing: letter-spacing(100px);
	text-transform: uppercase;

	.link-arrow {
		display: inline-block;
		margin-left: 10px;
		transition: all 0.2s;
	}

	&:hover {
		.link-arrow {
			margin-left: 15px;
			transition: all 0.2s;
		}
	}

	&.white {
		color: $white;
	}
}
