




.field {
	@include flexbox($direction: column);
	// padding: rem(40) 0 0;
	margin-bottom: rem(55);
	
	label {
		margin-bottom: rem(20);
	}
	&__with-textarea label {
		margin-bottom: rem(60);
	}
}



input, textarea {
	outline: 0;
	box-shadow: none;
	border-radius: 0 !important;
	display: block;
	background-color: transparent;
	width: 100%;
	border: none;
	box-shadow: none;
	outline: none;
	padding: rem(15) 0;
	resize: none;
	border-radius: unset !important;
	transition: all .2s ease-in-out;
	@include input-placeholder {
		color: var(--color-text-primary);
	}
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

input[type=search]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

textarea {
	padding: rem(15) rem(8);
}





/* --------------------------------------------------------------------------
Validation
----------------------------------------------------------------------------- */


.label-hidden {
	border: 0!important;
	clip: rect(0,0,0,0)!important;
	height: 1px!important;
	margin: -1px!important;
	overflow: hidden!important;
	padding: 0!important;
	position: absolute!important;
	white-space: nowrap!important;
	width: 1px!important;
}
