/* --------------------------------------------------------------------------
Hamburger Icon styles
----------------------------------------------------------------------------- */
button.hamburger {
  backdrop-filter: unset;
  background-color: unset;
  border: none;
  top: 2rem;
  cursor: pointer;
  display: none;
  height: rem(10);
  margin-left: rem(15);
  outline: none;
  padding: unset;
  position: fixed;
  right: rem(20);
  width: rem(26);
  z-index: 201;


  @include breakpoint(tablet) {
    display: block;
  }

  span {
    border-bottom: rem(1) solid rgb(var(--color-foreground));
    display: block;
    height: rem(1);
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    transition: all 0.2s ease-in-out;
    width: 100%;
  }

  span:first-of-type {
    top: 0%;
  }

  span:nth-of-type(2) {
    top: 50%;

  }

   span:nth-of-type(3) {
    top: 100%;

  }
}

.open-mobile-nav button.hamburger {
  span:first-of-type {
    top: 50%;
    transform: translate(-50%, 0) rotate(-45deg);
  }

  span:nth-of-type(2) {
    opacity: 0;
  }

  span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%,0) rotate(45deg);
  }
}

.announcement-active button.hamburger { 
  top: 5rem;
}
