.heading {
    padding: rem(20) 0;
    border-top: 1px solid;

    &.top {
        border-top: none;
        border-bottom: 1px solid;
    }

    &__container {
        @include flexbox($justifyContent: space-between, $wrap: wrap);
        @include breakpoint(tablet) {
            padding: 0;
        }
    }

    &__title {
        @include heading;
        @include breakpoint(tablet) {
            width: 100%;
            padding: 0 rem(15);
        }
    }

    

    &__filter-container {
        @include breakpoint(tablet) {
            width: 100%;
            margin-top: rem(40);
            padding: rem(15);
            border-top: 1px solid;
            border-bottom: 1px solid;
        }
    }

    &__filter-list {
        @include list-zero;
        @include flexbox($gap: rem(20));
    }

    &__filter-item {
        cursor: pointer;
        @include pseudo-underline($width: 0);
        &:hover, &:active, &:focus, &.active {
            @include pseudo-underline($width: 100%);
        }
    }
    
}

.full-bleed__heading {
    padding-top: rem(50);
    width: 100%;
    border-top: unset;
    border-bottom: 1px solid var(--color-text-secondary);
    color: var(--color-text-secondary);
    position: relative;
    z-index: 10;

    a:hover {
        color: var(--color-text-primary);
    }
   
}

 .full-bleed__heading-container {
     padding: 0 rem(200);
     @include breakpoint(tablet) {
        padding: 0 rem(50);
     }

 }