.faqs {
    padding-bottom: rem(100);
    &__container {
        @include flexbox($wrap: wrap, $alignItems: center);
    }

    &__grid-item {
        @include make-col(2);

    }

    &__image-outter-container {
        max-width: rem(295);
        @include breakpoint(tablet) {
            display: none;
        }
    }

    &__image-container {
        @include aspect-ratio(295, 435);
    }

    &__faq-container {
        @include flexbox($direction: column);
    }
    

    &__accordion-container {
        border-bottom: 1px solid;
        
        margin-top: rem(45);
        &:last-child {
             border-bottom: none;
        }
        h4 {
            @include type-style(primary);
            text-transform: uppercase;
            margin-bottom: rem(25);
        }
    }

    &__accordion-toggle {
        @include flexbox($justifyContent: space-between);
    }

    

    &__accordion-content * {
        @include type-style(faq-content);
        padding-bottom: rem(45);
    }

    &__accordion-container.enable-accordion &__accordion-content {
        visibility: collapse;
        height: 0;
        transition: all .3s ease-in-out;
    }

    &__accordion-container.enable-accordion.active &__accordion-content {
        visibility: visible;
        height: auto;
        padding-bottom: rem(45);
        transition: all .3s ease-in-out;
    }
}