<div class="image-grid color-{{ section.settings.color_scheme }}">
  {%- if section.settings.title -%}
    {% render 'heading' 
     with title: section.settings.title,
     title_tag: 'h2',
     class: 'image-grid',
     animations_reveal_on_scroll: settings.animations_reveal_on_scroll %}
  {%- endif -%}
  <div class="image-grid__container" container-sm>
    <div class="image-grid__items-container">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'image' -%}
          <div class="image-grid__grid-item">
            <figure class="image-grid__figure caption-{{ block.settings.caption_position }} {% if settings.animations_reveal_on_scroll %} {% endif %}">
              <div
                class="image-grid__image-container scroll-trigger animate--slide-in"
                {% if settings.animations_reveal_on_scroll %}
                data-cascade
                {% endif %}>
                <div class="image-grid__image-inner-container ">
                  {{
                     block.settings.image
                   | image_url: width: 1500
                   | image_tag: class: '', loading: 'lazy', sizes: sizes, widths: widths }}
                </div>
              </div>
              {%- if block.settings.caption != blank -%}
                <figcaption>{{ block.settings.caption | escape }}</figcaption>
              {%- endif -%}
            </figure>
          </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Image Grid",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "caption",
            "label": "Caption"
          }, {
            "type": "select",
            "id": "caption_position",
            "label": "Caption Position",
            "options": [
              {
                "value": "bottom",
                "label": "Bottom"
              }, {
                "value": "left",
                "label": "Left"
              }, {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "bottom"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Grid"
      }
    ]
  }
{% endschema %}