/* ========================================
  Font Variables
======================================== */
// Font Family Variables
// Note: Native font stack
// https://getbootstrap.com/docs/4.3/content/reboot/
// ex: font-family: $fontFamilyPrimay;
// --------------------------------------------------
@font-face {
  font-family: 'Nitti Basic';
  src: url(' {{ "NittiBasic-Black.eot" | asset_url }} ');
  src: url(' {{ "NittiBasic-Black.eot?#iefix" | asset_url }} ') format('embedded-opentype'),
  url(' {{ "NittiBasic-Black.woff2" | asset_url }} ') format('woff2'),
  url(' {{ "NittiBasic-Black.woff" | asset_url }} ') format('woff'),
  url(' {{ "NittiBasic-Black.ttf" | asset_url }} ') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nitti Basic Light';
  src: url(' {{ "NittiBasic-Light.eot" | asset_url }} ');
  src: url(' {{ "NittiBasic-Light.eot?#iefix" | asset_url }} ') format('embedded-opentype'),
  url(' {{ "NittiBasic-Light.woff2" | asset_url }} ') format('woff2'),
  url(' {{ "NittiBasic-Light.woff" | asset_url }} ') format('woff'),
  url(' {{ "NittiBasic-Light.ttf" | asset_url }} ') format('truetype');

  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nitti Basic Medium';
  src: url(' {{ "NittiBasic-Medium.eot" | asset_url }} ');
  src: url(' {{ "NittiBasic-Medium.eot?#iefix" | asset_url }} ') format('embedded-opentype'),
  url(' {{ "NittiBasic-Medium.woff2" | asset_url }} ') format('woff2'),
  url(' {{ "NittiBasic-Medium.woff" | asset_url }} ') format('woff'),
  url(' {{ "NittiBasic-Medium.ttf" | asset_url }} ') format('truetype');
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Unica 77 LL';
  src: url(' {{ "Unica_77LL-Regular.eot" | asset_url }} ');
  src: url(' {{ "Unica_77LL-Regular.eot?#iefix" | asset_url }} ') format('embedded-opentype'),
  url(' {{ "Unica_77LL-Regular.woff2" | asset_url }} ') format('woff2'),
  url(' {{ "Unica_77LL-Regular.woff" | asset_url }} ') format('woff'),
  url(' {{ "Unica_77LL-Regular.ttf" | asset_url }} ') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unica 77 LL TT';
  src: url(' {{ "Unica_77LLTT-Regular.eot" | asset_url }} ');
  src: url(' {{ "Unica_77LLTT-Regular.eot?#iefix" | asset_url }} ') format('embedded-opentype'),
  url(' {{ "Unica_77LLTT-Regular.woff2" | asset_url }} ') format('woff2'),
  url(' {{ "Unica_77LLTT-Regular.woff" | asset_url }} ') format('woff'),
  url(' {{ "Unica_77LLTT-Regular.ttf" | asset_url }} ') format('truetype');
  font-style: normal;
  font-display: swap;
}



$font-family-primary: // Safari for OS X and iOS (San Francisco)
  'Unica 77 LL', -apple-system, 
  /* Chrome < 56 for OS X (San Francisco)*/ 
  blinkmacsystemfont,
  /* Windows*/ 
  'Segoe UI', /* Android*/ 
  'Roboto', /* Basic web fallback*/ 
  'Helvetica Neue', arial,
  sans-serif, 
  /* Emoji fonts*/ 
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-family-secondary: // Safari for OS X and iOS (San Francisco)
    'Nitti Basic', -apple-system,
    /* Chrome < 56 for OS X (San Francisco)*/
    blinkmacsystemfont,
    /* Windows*/
    'Segoe UI',
    /* Android*/
    'Roboto',
    /* Basic web fallback*/
    'Helvetica Neue', arial,
    sans-serif,
    /* Emoji fonts*/
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
