.collection-page {
    margin-bottom: rem(100);
    &__header-container {
        margin-bottom: rem(50);
    }

    &__container {
        @include breakpoint(tablet) {
            padding: 0;
        }
    }

    .featured-collection__product-group {
        @include breakpoint(tablet) {
            padding: 0 rem(15);
        }
    }

    &__video {
        @include breakpoint(tablet) {
            padding-bottom: rem(50);
        }
        @include breakpoint(tabletup) {
            max-width: 55%;
            width: rem(1000);
            padding: rem(100) 0;
        }
        &.odd {
            margin-right: 0;
            margin-left: auto;
        }
    
        &.even {
            margin-left: 0;
            margin-right: auto;
        }
    }
}