.look {
    width: rem(1465);
    padding: rem(100) 0;
    max-width: 100%;
    @include breakpoint(tabletup) {
        max-width: 85%;
    }

    &__container {
        @include breakpoint(tablet) {
            padding: 0 rem(15);
        }
    }

    &.even {
        margin-right: 0;
        margin-left: auto;
    }

    &.odd {
        margin-left: 0;
        margin-right: auto;
    }

    &:nth-of-type(even) {
        background-color: red;
    }
    &__grid {
        @include flexbox($wrap: wrap, $justifyContent: space-between);
        @include breakpoint(tablet) {
            @include flexbox($wrap: wrap, $justifyContent: space-between, $direction: column-reverse);
        }
    }

    &.odd &__grid {
        @include flexbox($wrap: wrap, $justifyContent: space-between, $direction: row-reverse);
    
        @include breakpoint(tablet) {
            @include flexbox($wrap: wrap, $justifyContent: space-between, $direction: column-reverse);
        }
    }

    &__grid-item {
        @include make-col(2);
    }

    &__products-container {
        @include flexbox($direction: column, $justifyContent: space-between);
        padding-right: rem(20);
        position: relative;
        @include breakpoint(tablet) {
            @include flexbox($justifyContent: space-between);
            padding: rem(20) 0;
        }
    }

    &.odd &__products-container {
        @include breakpoint(tabletup) {
            padding-right: 0;
            padding-left: rem(20);
        }
    }

    &__heading {
        padding-top: rem(10);
        @include breakpoint(tabletup) {
            border-top: 1px solid;
        }
        @include breakpoint(tablet) {
            border-right: 1px solid;
            flex-basis: 35%;
            padding-right: 2.5%;
            
        }
    }
    
    &__heading-title {
        text-transform: uppercase;
    }

    

    &__products {
        @include flexbox($gap: rem(30), $wrap: wrap);
        @include breakpoint(tabletup) {
            margin-top: rem(50);
        }
        @include breakpoint(tablet) {
            @include flexbox($direction: column-reverse, $shrink: unset, $grow: unset);
            flex-basis: 65%;
            padding-left: 2.5%;
        }
    }

    &.odd &__products {
        @include flexbox($gap: rem(30), $wrap: wrap, $direction: row-reverse);
    
        @include breakpoint(tablet) {
            @include flexbox($direction: column-reverse, $shrink: unset, $grow: unset);
            flex-basis: 65%;
            padding-left: 2.5%;
        }
    }

    &__item {
        position: relative;
        max-width: rem(240);
        @include breakpoint(phone) {
                max-width: 90%;
        }
        &:first-of-type {
            top: rem(40);
            max-width: rem(230);
            @include breakpoint(tablet) {
                top: 0;
                margin-right: 0;
                margin-left: auto;
            }

            @include breakpoint(phone) {
                max-width: 70%;
            }


        }
    }

    &__collection-image-container {
        @include aspect-ratio(820,645);
    }

    &__img-container {
        margin-bottom: rem(8);
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,5%);
            z-index: 5;
        }

        &.portrait {
            @include aspect-ratio(500, 725);
        }

        &.landscape {
            @include aspect-ratio(500, 400);
        }
    }

    &__txt-inner-container {
        flex-direction: column;
    }

    .card-product {
        @include breakpoint(tablet) {
            margin-bottom: 0;
        }
    }
}