.header {
    padding: rem(10) 0;
    position: relative;
    @include breakpoint(tablet) {
        padding: rem(15) 0 rem(10);
    }
    &.main &__heading-link {
        max-width: 55%;
        display: inline-block;
        position: relative;
        z-index: 100;
        @include breakpoint(tablet) {
            max-width: 76%;
        }
    }

    &.main &__heading-logo-wrapper {
        svg {
            max-width: 100%;
            height: 100%;
        }
    }

    &.secondary {
        padding-bottom: rem(120);
        @include breakpoint(tablet) {
            padding: rem(100) 0 rem(50);
        }
    }

  
    &.secondary &__heading-link {
        @include layer(primary);
        @include breakpoint(tabletup) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }

        svg {
            height: 100%;
            @include max-width(250);
            @include breakpoint(desktop) {
                height: 100%;
                @include max-width(200);
            }
            @include breakpoint(tablet) {
                height: 100%;
                @include max-width(200);
            }
        }
        @include breakpoint(tablet) {
            transform: translateX(-50%);
           
        }
    }
}

html:not(.shopify-design-mode) .landing-active {
    .header__heading-logo-wrapper {
        opacity: 0;
    }
}


#theme-index {
    .header {
        @include breakpoint(tabletup) {
            position: absolute;
            width: 100%;
        }
    }
}

#theme-collection, #theme-page-contact, #theme-page-faq, #theme-cart, #theme-search, #theme-page, #theme-404, #theme-list-collections {
    .header {
        margin-bottom: rem(50);
        @include breakpoint(tabletup) {
            margin-bottom: rem(225);
        }
    }
}